.numbers{
    border: 1px solid grey;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    text-align: center;
    
}
p{
    border: 1px solid grey;
    width: 50px;
    height: 2rem;
    margin: 0.2rem;
}